*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li{
    list-style: none;
}

main{
    width: 40vw;
    height: 90vh;
    margin: auto;
    border: 1px solid #000;
    padding: 16px;
}
.header1{
    width: 100%;
    background-color: #eee;
    border: 1px solid #000;
    padding: 16px;
}
.header1 h1{
    width: 20%;
    display: block;
    margin: auto;
}
.header1 nav{
    width: 100%;
    background-color: #ddd;
    border: 1px solid #000;
    padding: 16px;
}
.header1 nav ul{
    width: fit-content;
    margin: auto;
    display: block;
}
.header1 nav ul li{
    width: 5vw;
    margin: auto;
    display: inline-block;
    text-align: center;
}
.section1{
    width: 64%;
    height: 70%;
    margin-top: 12px;
    margin-right: 6px;
    padding: 16px;
    background-color: #eee;
    border: 1px solid #000;
    float: left;
}
.section1 .header1{
    text-align: center;
    background-color: #ddd;
}
.section1 article{
    width: 100%;
    height: 18vh;
    margin-top: 12px;
    padding: 12px;
    background-color: #ddd;
    border: 1px solid #000;
}
.section1 .article1 .header{
    width: 100%;
    margin: auto;
    background-color: #ccc;
    border: 1px solid #000;
}
.section1 .article1 .header h3{
    width: fit-content;
    margin: auto;
}
.section1 .article1 p{
    margin: auto;
    width: 100%;
    padding: 1px;
    display: block;
    margin-top: 2px;
    background-color: #ccc;
    border: 1px solid #000;
    text-align: center;
}
.section1 .article1 .p2{
    width: 70%;
    display: inline-block;
    background-color: #ccc;
}
.section1 .article1 .aside{
    width: 28%;
    padding: 1px;
    display: block;
    margin-top: 2px;
    background-color: #ccc;
    border: 1px solid #000;
    float: right;
}
.section1 .article1 .footer{
    width: 100%;
    padding: 1px;
    margin-top: 2px;
    background-color: #ccc;
    border: 1px solid #000;
    text-align: center;
}
.section1 .article2 .header{
    width: 100%;
    margin: auto;
    background-color: #ccc;
    border: 1px solid #000;
}
.section1 .article2 .header h3{
    width: fit-content;
    margin: auto;
}
.section1 .article2 p{
    margin: auto;
    width: 100%;
    padding: 1px;
    display: block;
    margin-top: 2px;
    background-color: #ccc;
    border: 1px solid #000;
    text-align: center;
}
.section1 .article2 .footer{
    width: 100%;
    padding: 1px;
    margin-top: 2px;
    background-color: #ccc;
    border: 1px solid #000;
    text-align: center;
}
.section1>.footer{
    width: 100%;
    padding: 8px;
    margin-top: 12px;
    text-align: center;
    background-color: #ddd;
    border: 1px solid #000;
}
.section2{
    width: 34%;
    height: 70%;
    margin-top: 12px;
    margin-left: 5px;
    margin-bottom: 12px;
    padding: 16px;
    background-color: #eee;
    border: 1px solid #000;
    float: right;
}
.section2 .header{
    width: 100%;
    padding: 16px;
    background-color: #ddd;
    border: 1px solid #000;
}
.section2 .header h2{
    width: fit-content;
    margin: auto;
}
.section2 .nav{
    width: 100%;
    height: 30vh;
    margin-top: 12px;
    background-color: #ddd;
    border: 1px solid #000;
}
.section2 .nav .ul{
    width: fit-content;
    margin: auto;
    padding: 12px;
}
.section2 .nav .ul li{
    padding: 6px;
}
.footer{
    width: 100%;
    padding: 6px;
    clear: both;
    text-align: center;
    background-color: #eee;
    border: 1px solid #000;
}